extends ../main

block content
  table(class="store-list")
    thead
      tr
        th Name
        th Category
        th Created
        th(data-dynatable-no-sort="true")
        th(data-dynatable-no-sort="true")
    tbody
      each store in stores
        - var id = store._id
        tr
          td
            a(href="/store/" + store._id)= store.name
          td Category
          td= store.humanCreated
          td
            a(href="/stores/" + store._id + "/edit") Edit
          td
            a(href="/stores/" + store._id + "/delete") Delete
