script.
  console.log(!{JSON.stringify(store)});
form(class="form" action=store ? "/stores/" + store._id + "/edit" : '/stores/new' method="POST")
  fieldset(class="form-element")
    legend
      i(class="fa fa-building icon -inline")
      | Store Name
    input(required type="text" name="name" placeholder="Name" value=store ? store.name : "")
  fieldset(class="form-element")
    legend
      i(class="fa fa-map-marker icon -inline")
      | Address
    input(required type="text" name="streetAddress" placeholder="Street Address" value= store ? store.address.street : "")
    input(type="text" name="streetAddressAux" placeholder="Street Address Aux" value= store? store.address.streetAux : "")
    input(required type="text" name="city" placeholder="City" value= store ? store.address.city : "")
    input(required type="text" name="state" placeholder="State" value= store ? store.address.state : "VA")
    input(required type="text" name="zipcode" placeholder="Zipcode" value= store ? store.address.zipcode : "")
  fieldset(class="form-element")
    legend
      i(class="fa fa-phone icon -inline")
      | Phone
    input(type="text" name="phone" placeholder="Phone" value = store ? store.phone : "")
  fieldset(class="form-element")
    legend
      i(class="fa fa-shopping-basket icon -inline")
      | Store Category
    div(class="select-form-element")
      i(class="fa fa-caret-down")
      p(class="select-form-element-selection") Other
        | Select Category
      input(type="hidden" name="category" value= store ? store.category: "other")
      ul(class="select-form-element-options -hidden")
        li(class="select-form-element-option" data-value="farmers_market") Farmer's Market
        li(class="select-form-element-option" data-value="full_scale") Full Scale
        li(class="select-form-element-option" data-value="healthy_corner_store") Healthy Corner Store
        li(class="select-form-element-option" data-value="other") Other
  fieldset(class="form-element")
    legend
      i(class="fa fa-users icon -inline")
      | Benefits

    div(class="multi-select-group")
      span(class="multi-select-option" data-value="wic") WIC
      span(class="multi-select-option" data-value="snap") SNAP
      span(class="multi-select-option" data-value="freshOptions") Fresh Options
      span(class="multi-select-option" data-value="doubleBucks") Double Bucks
    input(class="-hidden" type="checkbox" name="benefits" value="wic" checked= store ? store.benefits.wic : false)
    input(class="-hidden" type="checkbox" name="benefits" value="snap" checked= store ? store.benefits.snap : false)
    input(class="-hidden" type="checkbox" name="benefits" value="freshOptions" checked= store ? store.benefits.freshOptions : false)
    input(class="-hidden" type="checkbox" name="benefits" value="doubleBucks" checked= store ? store.benefits.doubleBucks : false)
  fieldset(class="form-element")
    legend
      i(class="fa fa-cutlery icon -inline")
      | My Plate Offerings

    div(class="multi-select-group")
      span(class="multi-select-option" data-value="myPlateDairy") Dairy
      span(class="multi-select-option" data-value="myPlateProtein") Proteins
      span(class="multi-select-option" data-value="myPlateGrain") Grains
      span(class="multi-select-option" data-value="myPlateVeggie") Vegetables
      span(class="multi-select-option" data-value="myPlateFruit") Fruits
    input(class="-hidden" type="checkbox" name="myPlate" value="myPlateDairy" checked= store ? store.myPlate.dairy : false)
    input(class="-hidden" type="checkbox" name="myPlate" value="myPlateProtein" checked= store ? store.myPlate.protein : false)
    input(class="-hidden" type="checkbox" name="myPlate" value="myPlateGrain" checked= store ? store.myPlate.grain : false)
    input(class="-hidden" type="checkbox" name="myPlate" value="myPlateVeggie" checked= store ? store.myPlate.veggie : false)
    input(class="-hidden" type="checkbox" name="myPlate" value="myPlateFruit" checked= store ? store.myPlate.fruit : false)
  fieldset(class="form-element")
    legend Available Meals
    input(type="text" name="meals" placeholder="Available Meals")
  fieldset(class="form-element")
    legend
      i(class="fa fa-clock-o icon -inline")
      | Hours
    input(type="text" name="hours" placeholder="Hours" value= store ? store.hours.hours : "")
    input(type="text" name="hoursDays" placeholder="Days Open" value= store ? store.hours.days : "")
    input(type="text" name="hoursMonths" placeholder="Months Open" value= store ? store.hours.months : "")
  fieldset(class="form-element")
    legend
      i(class="fa fa-lock icon -inline")
      | Status
    div(class="multi-select-group")
      span(class="multi-select-option" data-value="public") Public
    input(class="-hidden" type="checkbox" name="public" value="public" checked= store ? store.public : true)
  fieldset(class="form-element")
    button(type="submit") Save
    a(href=referrer ? referrer : "/stores" class="button -secondary") Cancel
