script.
  console.log(!{JSON.stringify(store)});
form(class="form" action=store ? "/stores/" + store._id + "/edit" : '/stores/new' method="POST")
  fieldset(class="form-element")
    legend Store Name
    input(required type="text" name="name" placeholder="Name" value=store ? store.name : "")
  fieldset(class="form-element")
    legend Address
    input(required type="text" name="streetAddress" placeholder="Street Address" value= store ? store.address.street : "")
    input(type="text" name="streetAddressAux" placeholder="Street Address Aux" value= store? store.address.streetAux : "")
    input(required type="text" name="city" placeholder="City" value= store ? store.address.city : "")
    input(required type="text" name="state" placeholder="State" value= store ? store.address.state : "VA")
    input(required type="text" name="zipcode" placeholder="Zipcode" value= store ? store.address.zipcode : "")
  fieldset(class="form-element")
    legend Phone
    input(type="text" name="phone" placeholder="Phone" value = store ? store.phone : "")
  fieldset(class="form-element")
    legend benefits
    label
      input(type="checkbox" name="benefits" value="wic" checked= store ? store.benefits.wic : false)
      | WIC
    label
      input(type="checkbox" name="benefits" value="snap" checked= store ? store.benefits.snap : false)
      | SNAP
    label
      input(type="checkbox" name="benefits" value="freshOptions" checked= store ? store.benefits.freshOptions : false)
      | Fresh Options
  fieldset(class="form-elemt")
    legend My Plate Offerings
    label
      input(type="checkbox" name="myPlate" value="myPlateDairy" checked= store ? store.myPlate.dairy : false)
      | Dairy
    label
      input(type="checkbox" name="myPlate" value="myPlateProtein" checked= store ? store.myPlate.protein : false)
      | Protein
    label
      input(type="checkbox" name="myPlate" value="myPlateGrain" checked= store ? store.myPlate.grain : false)
      | Grains
    label
      input(type="checkbox" name="myPlate" value="myPlateVeggie" checked= store ? store.myPlate.veggie : false)
      | Vegetables
    label
      input(type="checkbox" name="myPlate" value="myPlateFruit" checked= store ? store.myPlate.fruit : false)
      | Fruit
  fieldset(class="form-element")
    legend hours
    input(type="text" name="hoursDays" placeholder="Days Open" value= store ? store.hours.days : "")
    input(type="text" name="hoursMonths" placeholder="Days Open" value= store ? store.hours.months : "")
  fieldset(class="form-element")
    input(type="submit" value="Save")
    a(href=referrer ? referrer : "/stores") Cancel
