header{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid tint(color(text), 90%);
}

.header-section{
  display: flex;
  align-items: center;
}

.header-link{
  @extend .-buttoned;
}
