.store-list{
  width: 100%;
  max-width: 1200px;
  margin: 6rem auto;
  border-spacing: 0;
  color: color(text);
  font-family: font(sans);

  thead{
    text-align: left;
    th{
      padding: 0.25rem 0.65rem;
      border-bottom: 2px solid color(primary, lightest);
    }
  }

  tbody td{
    padding: 0.65rem;

    &:nth-last-child(-n+2){
      text-align: right;
    }
  }

  tbody tr:nth-child(even){
    background-color: color(striping);
  }

}
