.store-list{
  width: 100%;
  max-width: 1200px;
  margin: 5rem auto;
}

.store-list--stores{
  width: 100%;
  margin: 1rem auto 0 auto;
  border-spacing: 0;
  color: color(text);
  font-family: font(sans);

  thead{
    text-align: left;
    th{
      padding: 0.25rem 0.65rem;
      border-bottom: 2px solid color(primary, lightest);
    }
  }

.sortable{
  transition: all 0.35s ease;
  cursor: pointer;
  &.-sorted{
    color: color(primary);
    &:after{
      font-family: 'FontAwesome';
      padding-left: 10px;
      font-size: 0.85rem;
    }
    &.-asc:after{
      content: "\f077";
    }
    &.-desc:after{
      content: "\f078";
    }
  }
}

  tbody td{
    padding: 0.65rem;

    &:nth-last-child(-n+2){
      text-align: right;
    }
  }

  tbody tr:nth-child(even){
    background-color: color(striping);
  }

}
