extends ../../main.pug

block content
  .wrapper
    if messages.error.length > 0
      div(class="messages -error -vanish")
        p(class="-white")= messages.error
    if messages.info.length > 0
      div(class="messages -info -vanish")
        p(class="-white")= messages.info
  .wrapper
    table
      thead
        tr
          th Username
          th Email
      tbody
        for u in users
          tr
            td=u.username
            td=u.email
