extends ../../main.pug

block content
  div(class="wrapper -very-thin")
    h1(class="title") Edit Your User Settings
    include ./userForm.pug
    h1(class="title") Create New User
    include ./newUserForm.pug
