footer
  div(class="wrapper -flex")
    p(class="-white")
      | Made in Partnership with
      a(class="-inline -inverted" href="http://codeforrva.org") CodeForRVA
    nav
      a(class='-buttoned -inverted' href="#") Food Access Application
      a(class='-buttoned -inverted' href="#") Support
