header
  nav(class="header-section")
    a(href="/stores" class="header-link active") All Stores
    a(href="/stores/new" class="header-link") New Store
  .header-section
    a(href="/" class="header-link") User Settings
    a(href="/" class="header-link") Logout
