extends ./main.pug

block content
  div(class="wrapper -very-thin -s-top")
    h1(class="title -centered") Food Access Database
    if messages.error.length > 0
      div(class="messages -error")
        p(class="-white")= messages.error
    if messages.info.length > 0
      div(class="messages -info")
        p(class="-white")= messages.info
    if messages.error.length == 0 && messages.info.length == 0
      p Please log in to continue
    .section
      form(action="/login", method="POST" class="-very-thin -no-v-space-top")
        fiedset(class="form-element")
          legend Username
          input(name="username" placeholder="Username" type="text" required)
          legend Password
          input(name="password" placeholder="Password" type="password" required)
          input(type="hidden" name="_csrf" value=csrfToken)
        fieldset(class="form-element")
          button(type="submit") Login
        a(href="/login/recover") Forgot Password?
