extends ./main.pug

block content
  div(class="wrapper -very-thin -s-top")
    h1(class="title -centered -no-space-top") Password Reset
    if messages.error.length > 0
      div(class="messages -error")
        p(class="-white")= messages.error
    if messages.info.length > 0
      div(class="messages -info")
        p(class="-white")= messages.info
    if messages.error.length == 0 && messages.info.length == 0
      p Enter the email associated with your account.  We will email you with a link to reset your password.
    .section
      form(action="/login/reset", method="POST" class="-very-thin")
        fiedset(class="form-element")
          legend Password
          input(name="password" placeholder="Password" type="password" required)
          input(type="hidden" name="email" value=email)
          input(type="hidden" name="_csrf" value=csrfToken)
        fieldset(class="form-element")
          button(type="submit") Reset Password
