aside(class="sidebar")
  h3(class="heading centered bold")
    a(href="/") Food Access Database
  nav(class="admin-nav")
    ul
      li
        a(href="/new") create store
      li
        a(href="/user/logout") logout
  p(class="made-by") Made in collaboration with
    span Code For RVA
