html
  body
    p hey, #{user.username}
    p You have requested to change your password.
    p Click the following link to reset your password. It will only work for 24 hours.
      a(href="http://localhost:3000/login/reset?t=" + token.token + "&e=" + user.email) Reset Your Password Here!
