extends ./main.pug

block content
  section(class="section")
    h2 What is Snap?
    p.
       SNAP, the Supplemental Nutrition Assistance Program, is the program formerly
       known as food stamps. It is a federal nutrition program that helps you stretch
       your food budget and buy healthy food.  SNAP benefits can be used to purchase
       food at grocery stores, convenience stores, and some farmers' markets and co-op
       food programs.
    p.
      Find out if you may be eligible for SNAP by completing their
      #[a(target="_blank" href="http://www.snap-step1.usda.gov/fns/") pre-screening tool].
    p.
      Begin your Virginia SNAP application by visiting
      #[a(target="_blank" href="https://commonhelp.virginia.gov/access/") Common Help]
      and selecting “All Benefit Programs”.
    p.
      To learn more about SNAP nutrition education and cooking classes in Richmond, please visit
      #[a(href="http://www.ext.vt.edu/topics/food-health/family-nutrition-program/" target="_blank") Virginia Cooperative Extension]
      and selecting the “programs” tab.

  section(class="section")
    h2 What is WIC?
    p WIC is a Special Supplemental Nutrition program for Women, Infants and Children
    p WIC helps families stay healthy and eat right during times of important growth by providing:
      ul
        li Quality nutrition education
        li Healthy foods including fruits &amp; vegetables, whole grains and dairy products
        li Breastfeeding education, support and supplies
        li Referrals to community and healthcare services
    p WIC provides benefits to income eligible:
      ul
        li Pregnant women
        li Breastfeeding women
        li New moms
        li Infants
        li Children up to their fifth birthday
    p.
      Find out if you may be eligible for WIC by reviewing the
      #[a(href="http://www.vdh.virginia.gov/livewell/programs/wic/content/participants/newparticipants.html" target="_blank") guidelines]
      . Or, call 804-482-5500.

  section(class="section")
    h2 What is MyPlate?
    p.
      MyPlate is a reminder to find your healthy eating style and build it throughout
       your lifetime. Everything you eat and drink matters. The right mix can help you
      be healthier now and in the future. This means:
    ul
      li Focus on variety, amount, and nutrition.
      li Choose foods and beverages with less saturated fat, sodium, and added sugars.
      li Start with small changes to build healthier eating styles.
      li Support healthy eating for everyone.

    p MyPlate recommends you:

    ul
      li Make half your plate fruits and vegetables
      li Make half your grains whole grains
      li Move to low-fat and fat-free dairy
      li Focus on lean protein
      li Eat and drink the right amount for you

    p.
      To learn more about MyPlate and other healthy eating habits, please visit their
      #[a(href="http://www.choosemyplate.gov/MyPlate" target="_blank") website]
