html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin:0;
  	padding:0;
  	height:100%;
    font: 16px/1 font(sans);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility
}
p{
  line-height: 1.5;
  color: color(text);
  &.-large{
    font-size: 1.2rem;
  }
  &.-white{
    color: #fff;
  }
}
span{color: color(text);}
main,
li {
    display: block;
}
h1{font-size: 2.25rem; line-height: 1.25;}
h2{font-size: 2rem; line-height: 1.25;}
h3{font-size: 1.75rem; line-height: 1.25;}
h4{font-size: 1.5rem; line-height: 1.25;}
strong {
    font-weight: bold;
}
a,
button {
    color: inherit;
    transition: all 0.35s ease;
}
button {
    overflow: visible;
    border: 0;
    font: inherit;
    -webkit-font-smoothing: inherit;
    letter-spacing: inherit;
    background: none;
    cursor: pointer;
}
::-moz-focus-inner {
    padding: 0;
    border: 0;
}
:focus {
    outline: 0;
}
img {
    max-width: 100%;
    height: auto;
    border: 0;
}
div,
aside,
nav{
  box-sizing: border-box;
}
